annotated-types==0.6.0
anyio==4.3.0
Bottleneck @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/bottleneck_1699265217545/work
build==1.0.3
CacheControl==0.13.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
distlib==0.3.8
dulwich==0.21.7
et-xmlfile==1.1.0
fastapi==0.109.2
fastjsonschema==2.19.1
filelock==3.13.1
h11==0.14.0
idna==3.6
installer==0.7.0
jaraco.classes==3.3.1
keyring==24.3.0
mkl-fft @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mkl_fft_1699240945874/work
mkl-random @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/mkl_random_1699239515205/work
mkl-service==2.4.0
more-itertools==10.2.0
msgpack==1.0.7
numexpr @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/numexpr_1699258484110/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_97k4h5q73m/croot/numpy_and_numpy_base_1704311708477/work/dist/numpy-1.26.3-cp312-cp312-macosx_10_9_x86_64.whl#sha256=c3aedcdd617b81b52738eb143478a889436d17dcc350508ffb722fca3f6596e0
openpyxl==3.1.2
packaging==23.2
pandas @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_80pc5xjc2v/croot/pandas_1702317994691/work/dist/pandas-2.1.4-cp312-cp312-macosx_10_9_x86_64.whl#sha256=3eb67228f50b9e8d5582980f2be6c270d3bf7a66c1f08a7514dc2daaa6de26d6
pexpect==4.9.0
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pyproject_hooks==1.0.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pytz_1699244189577/work
rapidfuzz==3.6.1
requests==2.31.0
requests-toolbelt==1.0.0
setuptools==68.2.2
shellingham==1.5.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
starlette==0.36.3
tomlkit==0.12.3
trove-classifiers==2024.1.31
typing_extensions==4.9.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.2.1
uvicorn==0.27.1
virtualenv==20.25.0
wheel==0.41.2
xattr==0.10.1
